silverlight/trunk/SecretLetter/Service References/FyreService/FyreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://textfyre.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://textfyre.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://textfyre.com/">
      <s:element name="LogCommand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storyId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="turn" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="school" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="commandText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="responseText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogCommandResponse">
        <s:complexType />
      </s:element>
      <s:element name="LogNotes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storyId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="turn" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="school" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="notesBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogNotesResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogCommandSoapIn">
    <wsdl:part name="parameters" element="tns:LogCommand" />
  </wsdl:message>
  <wsdl:message name="LogCommandSoapOut">
    <wsdl:part name="parameters" element="tns:LogCommandResponse" />
  </wsdl:message>
  <wsdl:message name="LogNotesSoapIn">
    <wsdl:part name="parameters" element="tns:LogNotes" />
  </wsdl:message>
  <wsdl:message name="LogNotesSoapOut">
    <wsdl:part name="parameters" element="tns:LogNotesResponse" />
  </wsdl:message>
  <wsdl:portType name="FyreServiceSoap">
    <wsdl:operation name="LogCommand">
      <wsdl:input message="tns:LogCommandSoapIn" />
      <wsdl:output message="tns:LogCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogNotes">
      <wsdl:input message="tns:LogNotesSoapIn" />
      <wsdl:output message="tns:LogNotesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FyreServiceSoap" type="tns:FyreServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogCommand">
      <soap:operation soapAction="http://textfyre.com/LogCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogNotes">
      <soap:operation soapAction="http://textfyre.com/LogNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FyreServiceSoap12" type="tns:FyreServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogCommand">
      <soap12:operation soapAction="http://textfyre.com/LogCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogNotes">
      <soap12:operation soapAction="http://textfyre.com/LogNotes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FyreService">
    <wsdl:port name="FyreServiceSoap" binding="tns:FyreServiceSoap">
      <soap:address location="http://www.textfyre.com/TFServices/FyreService.asmx" />
    </wsdl:port>
    <wsdl:port name="FyreServiceSoap12" binding="tns:FyreServiceSoap12">
      <soap12:address location="http://www.textfyre.com/TFServices/FyreService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>